<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/form.css">
    <title>Login | De Castilla</title>
</head>
<body>
    <div class="form-container">
        <div class="contenedor bg-fc-cla">
            <a class="logo-menu" href="../index.html">
                <img src="../assets/img/logo.jpg">
            </a>
            <div>
                <form action="#" class="bg-wt" id="login">
                    <h1>Iniciar Sesión</h1>
                    <hr>
                    <div class="input">
                        <i class="fa fa-envelope"></i>
                        <input type="text" placeholder="mi_correo@correo.com">
                    </div>
                    <div class="input">
                        <i class="fa fa-key"></i>
                        <input type="password" placeholder="mi_contraseña">
                    </div>
                    <input type="button" class="btn" value="Iniciar Sesión">
                    <p>
                        No tienes cuenta,
                        <a href="../views/register.html">Registraste</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>