<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/menu.css">
    <title>Admin</title>
</head>

<body>
    <nav class="top-menu">
        <i class="fa fa-bars menu-icon"></i>
        <div class="menu-logo">
            <img src="../assets/img/logo.jpg" alt="">
            <h1>De Castilla</h1>
        </div>
        <div class="menu-user">
            <img src="../assets/img/user.png" alt="" class="user-img">
            <p class="user-name">Mi nombre</p>
            <!-- <i class="fa fa-cog"></i> -->
        </div>
    </nav>
    <div class="user-options">
        <ul>
            <li>
                <i class="fa fa-user"></i>
                Perfil
            </li>
            <li>
                <i class="fa fa-power-off"></i>
                Cerrar Sesión
            </li>
        </ul>
    </div>
    <div class="rigth-menu">
        <ul>
            <li>Ventas</li>
            <li>Inventario</li>
            <ul>
                <li>Productos</li>
                <li>insumos</li>
            </ul>
            <li>Proveedores</li>
            <li>Pedidos</li>
            <li>Estadísticas</li>
            <li>Permisos</li>
        </ul>
    </div>
</body>

</html>