@import "../css/general.css";
body {
    color:var(--blanco);
}

/* section - banner */
.menu {
    padding: 12px 0;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    background-color: var(--blanco);
    margin-right:8px;
    border-radius: 50%;
}

/* section - banner */
.banner {
    display: flex;
    border-radius: 26px;
    align-items: center;
    overflow:hidden;
}

.banner .description {
    width: 40%;
    padding: 20px;
    text-align: center;
}

/* section - opciones */
.opciones {
    display: flex;
    justify-content: space-around;
}

.opciones > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 26px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.opciones img:first-child {
    height: 180px;
    border-radius: 26px;
    margin-right: 15px;
}

.opciones .btn {
    width: 90%;
}

.opciones > div:first-child {
    margin-right: 20px;
}

.opciones > div:first-child img{
    width: 100px;
}

.pedido {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: center;
}

/* section - visitanos */
.visitanos {
    flex-direction: column;
}

.visitanos div {
    display: flex;
    background-color: var(--fuccia-claro);
    border-radius: 50px;
    margin-bottom: 20px;
    overflow: hidden;
    align-items: center;
}

.visitanos p{
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 15px;
}

.visitanos h1 {
    text-align: center;
    border-radius: 26px;
}

/* footer */
    footer {
        padding: 20px 0;
    }

footer .contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    width: 120px;
    background-color: var(--blanco);
    border-radius: 50px;
}